= provide(:title, 'Log in')
.login-form
  .form-content
    .header
      .hero
        = link_to root_url do
          = image_tag 'logo.svg'
        %p Log in
    .options-wrapper
      .options
        = link_to '#' do
          %p Log in
        = link_to '/signup' do
          %p Sign up
    = form_with(url: login_path, scope: :session, local: true) do |f|
      .fields
        .form-group
          = f.label :email
          = f.email_field :email, class: 'field'
        .form-group
          = f.label :password
          = f.password_field :password, class: 'field'
          = link_to 'Trouble logging in?', new_password_reset_path, class: 'forgot-link'
        .actions
          = f.submit 'Log in', class: 'btn btn-primary'
        = f.label :remember_me, class: 'checkbox inline' do
          = f.check_box :remember_me
          %span Remember me on this computer
