// TODO: make button_to as a form with hidden field 
.products-wrapper 
  .plates-container 
    %ul#plates-list 
      - @products.each do |product| 
        %li.plate 
          %p.plate-img
            - if Rails.env.production?
              = cl_image_tag(product.image.key)
            - else 
              = image_tag product.image
          %p.dish= product.title
          %p.meal-type= product.description
          %p.price= "$  #{product.price}" 
          - if logged_in? 
            = button_to "Add to cart", "/add_product/#{product.id}", class: "btn btn-primary"
          