.products-wrapper
  .plates-container
    %ul#plates-list
      - @products.each do |product|
        %li.plate
          %p.plate-img
            - if Rails.env.production?
              = cl_image_tag(product.image.key)
            - else
              = image_tag product.image.url
          %p.dish= product.title
          %p.meal-type= product.description
          %p.price= "$  #{product.price}"
          - if logged_in?
            - if !current_user.admin?
              = button_to 'Add to cart', "/add_product", class: 'btn btn-primary', params: { id: product.id, cart: current_user.cart }
            - else
              = button_to 'Add to cart', "/add_product", class: 'btn btn-primary', params: { id: product.id, cart: current_user.cart, preview: User.digest(1) }

.pagins-container
  = will_paginate @products
