%li
  %header
    %p= "Order ##{order.id}"
    %span= order.user.name
  - if !order.handled
    .order-info
      %p Handle this order
      = link_to admin_order_path(order), method: :patch do
        = image_tag 'order/done.svg'
