%header{class: "#{current_page?(controller: 'home_page', action: "index") ? 'navbar-absolute' : 'navbar'}"}
  = link_to :root do
    .logo-container
      .logo-mark
        = image_tag "logo.svg"
      .logo-text
        %div EUREKA
        %div CAFFE
  %nav
    %ul
      %li
        %a{href: "#"} HOME
      %li
        %a{href: "#"} ABOUT
      %li
        %a{href: "#"} SERVICE
      %li
        %a{href: "#"} BLOG
      %li
        %a{href: "#"} CONTACTS
    - if logged_in? 
      = current_user.name
    .dropdown
      - if logged_in?
        .dropdown-menu
          = link_to 'Logout', '/logout', method: :delete, class: 'dropdown-item'
          = link_to 'Settings', edit_user_path(current_user), class: 'dropdown-item'
          - if current_user.admin?
            = link_to 'Users', '/users', class: 'dropdown-item'
        = image_tag "user.svg", "data-toggle": "dropdown", "aria-expanded": "false", "aria-haspopup": "true", class: 'user'
        = link_to image_tag("cart.svg"), '/cart', class: 'cart'
      - else
        = image_tag "user.svg", "data-toggle": "dropdown", "aria-expanded": "false", "aria-haspopup": "true", class: 'guest'
        .dropdown-menu
          = link_to 'Log in', '/login', class: 'dropdown-item'
          = link_to "Sign up", '/signup', class: 'dropdown-item'
      
