%header{class: "#{current_page?(controller: 'home_page', action: "index") ? 'navbar-absolute' : 'navbar'}"}
  = link_to :root do
    .logo-container
      .logo-mark
        = image_tag "logo.svg"
      .logo-text
        %div#eureka EUREKA
        %div#caffe CAFFE
  %nav
    %ul
      %li
        %a{href: root_url, class: "#{active_class(root_url)}"} HOME
      %li
        %a{href: "#"} ABOUT
      %li
        %a{href: "#"} SERVICE
      %li
        %a{href: "#"} BLOG
      %li
        %a{href: "#"} CONTACTS
    - if logged_in?
      = link_to user_path(current_user) do
        %p.current-user= current_user.name
    .dropdown
      - if logged_in?
        .dropdown-menu
          = link_to 'Logout', '/logout', method: :delete, class: 'dropdown-item'
          = link_to 'Settings', edit_user_path(current_user), class: 'dropdown-item'
          = link_to 'Switch account', logout_path(switch: 1), method: :delete, class: 'dropdown-item'
        = image_tag "user.svg", "data-toggle": "dropdown", "aria-expanded": "false", "aria-haspopup": "true", class: 'user'
        - if current_user != nil && current_user.cart.products.count > 0 && !current_page?('/cart')
          = link_to '/cart' do
            = image_tag 'cart.svg',class: 'cart-notify'
            %span.badge= CartProduct.where(cart_id: current_user.cart.id).sum(:quantity)
        - else
          = link_to image_tag("cart.svg"), '/cart', class: 'cart'
      - else
        = image_tag "user.svg", "data-toggle": "dropdown", "aria-expanded": "false", "aria-haspopup": "true", class: 'guest'
        .dropdown-menu
          = link_to 'Log in', '/login', class: 'dropdown-item'
          = link_to "Sign up", '/signup', class: 'dropdown-item'
