= provide(:title, 'Cart')
- if @cart.products.count != 0
  .cart-page
    .cart-page-wrapper
      .cart-container
        %header
          .header-left
            %p QTY
            %p ITEM
          .header-right
            %p PRICE
        .products-container
          - @cart.products.uniq.each do |product|
            .product-wrapper
              .product-left
                = link_to delete_product_path(id: product.id, cart: current_user.cart), method: :delete do
                  = image_tag 'minus.svg', class: 'delete-one'
                %p.quantity= no_of_products(product)
                = link_to add_product_path(route: 'cart', id: product.id, cart: current_user.cart), method: :post do
                  = image_tag 'plus.svg', class: 'add-one'
                %p.tite= product.title
              .product-right
                %p.price= "$ #{product.price}"
          .cart-footer
            .total
              %p Total:
              #total-sum= "$ #{CartProduct.total_sum(current_user.cart.id)}"
            = link_to 'CHECKOUT', new_order_path, class: 'btn btn-primary'
      = image_tag 'cart-illustration.png'
- else
  .empty-wrapper
    .empty-container
      = image_tag 'empty_cart.png'
      %h1 Empty Cart
      %p Look like you haven't made your choice yet...
      = link_to 'Back to menu', root_path, class: 'btn btn-primary'
