.form
  .form-container
    %p Add a new product
    = form_for [:admin, @product] do |form|
      .fields
        .form-group
          = form.label :title
          = form.text_field :title, class: 'field'
        .form-group
          = form.label :descrption
          = form.text_field :description, class: 'field'
        .form-group
          = form.label :price
          = form.number_field :price, class: 'field'
        .form-group
          = form.label :image
          = form.file_field :image, class: 'field'
        .actions
          = form.submit 'Create product', class: 'btn btn-primary'
