%li
  = link_to user.name, user, class: 'name'
  %span.email= user.email
- if !user.admin?
  .infos
    .create= "Created at: #{user.created_at}"
    = link_to admin_user_url(user), method: :delete, data: { confirm: "You sure?" } do
      = image_tag 'dashboard/delete.svg'
