-# <div class="form">
-#   <h1>Add a new product</h1>
-#   <%= form_for @product do |form| %>
-#     <div class="fields">
-#       <div class="field">
-#         <%= form.label :title %>
-#         <%= form.text_field :title %>
-#       </div>

-#       <div class="field">
-#         <%= form.label :description %>
-#         <%= form.text_field :description %>
-#       </div>

-#       <div class="field">
-#         <%= form.label :price%>
-#         <%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '', unit: ''), :step => 0.01 %>
-#       </div>

-#       <div class="field">
-#         <%= form.label :image %>
-#         <%= form.file_field :image %>
-#       </div>

-#       <div class="actions">
-#         <%= form.submit %>
-#       </div>
-#     </div>
-#   <% end %>
.form 
  %h1 Add a new product
  = form_for @product do |form| 
    .fields
      .field
        = form.label :title 
        = form.text_field :title
      .field
        = form.label :descrption
        = form.text_field :description
      .field 
        = form.label :price
        = form.number_field :price
      .field
        = form.label :image
        = form.file_field :image
      .actions
        = form.submit
