<div class="plates">
  <p> <%= image_tag @product.image, class: "plate-img" %></p>
  <p class="dish"> <%= @product.title %></p>
  <p class="meal-type"> <%= @product.description %></p>
  <p class="price"> <%= @product.price %></p>
</div>

<%= link_to 'Back', :root, class: "back-link" %>
